<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>947383284183-oigfkbkdailihftmjo2n3qusam4k7f99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947383284183-oigfkbkdailihftmjo2n3qusam4k7f99</string>
	<key>API_KEY</key>
	<string>AIzaSyB865zXBNWZY0ln0uw3VMufLfOymn9n3kQ</string>
	<key>GCM_SENDER_ID</key>
	<string>947383284183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edot.Groceries.GoogleFBSignInApp</string>
	<key>PROJECT_ID</key>
	<string>fir-ios-84a46</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ios-84a46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:947383284183:ios:00331d11d0f9cf93</string>
	<key>DATABASE_URL</key>
	<string>https://fir-ios-84a46.firebaseio.com</string>
</dict>
</plist>
